<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.mule.tooling.runtime.muleServerLaunchType">
    <stringAttribute key="launch_mule_server_version" value="org.mule.tooling.server.4.5.ee"/>
    <stringAttribute key="mule-agent-port" value="53424"/>
    <stringAttribute key="mule-agent-token-auth" value="4cd0e8a1-73b3-49b2-8f22-fff282fec22c"/>
    <listAttribute key="mule-project-names">
        <listEntry value="fnd_diy_6-1_customer-service-accounts"/>
    </listAttribute>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="fnd_diy_6-1_customer-service-accounts"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-M-XX:-UseBiasedLocking -M-Dfile.encoding=UTF-8 -M-XX:+UseG1GC -M-XX:+UseStringDeduplication -M-Dmule.deployment.forceParseConfigXmls=true"/>
</launchConfiguration>
